* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    gap: 3vh;
}

.botao {
    width: 80px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(0, 0, 0);
}